/*

FONTS ==================================================
font-family: 'Lato', sans-serif;
font-family: 'Dancing Script', cursive;

COLORS =================================================
GREEN: 				4e7544;						horizontal lines, active menu, catergory title bg
GREEN w/ opacity: 	rgba(78, 117, 68, 0.84);	highlight
LIGHTGREEN: 		9cc24e;						category, button

WHITEish: 			edecea;						body bg
BLACKish: 			333333;						section title bg, section border

WHITE: 				fff;						section bg, footer bg
BLACK: 				000;						section text
BLACK w/ opacity:	rgba(0, 0, 0, 0.38);		carousel overlay
GREY: 				a4a4a4;						gallery arrow, button shadow

*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Dancing+Script:700);
@import url(normalize.css);

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	line-height: 1.5;
	background: #edecea;
	border-top: 4px solid #4e7544;
	color: #000;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 3.3em 1.2em;
	border-color: transparent transparent rgba(78, 117, 68, 0.84) transparent;
}

#phone {
	background: rgba(78, 117, 68, 0.84);
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
}

#phone p {
	margin: 0.5em 2em;
}







.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}